.message-container {
    width: 100%;
    height: 500px;
    border: 1px lightgray solid;
    border-bottom: none;
    overflow: auto;
    padding: 12px;
}

.editor {
    width: 100%;
    height: 200px;
}