{% extends "paper/base.html" %}
{% load static %}

{% load markdown %}

{% block content %}
<input type="hidden" id="ajax-url" value='{% url "paper:submission" submission.id %}'>
<input type="hidden" id="csrf-token" value='{{csrf_token}}'>
<div class="ui center aligned grid">
    <div class="ui eleven wide column segment" style="background-color: #ffffffc1;">
        <div class="padded text container">
            <h1 class="ui header">{{ submission.paper.title }}</h1>
            <p>{{ submission.student.username }} 的提交</p>
            <div class="ui divider"></div>
            <div>
                {% for ans in answer %}
                <div>
                    <h3 style="text-align: left;">
                        {{ forloop.counter }}. {{ ans.problem.raw.title }}
                    </h3>

                    <div style="text-align: left;">
                        {{ ans.problem.raw.statement | markdown | safe }}
                    </div>

                    <h3>

                    </h3>
                    <h4 class="ui horizontal divider">
                        学生答案
                    </h4>
                    <div class="ui form">
                        <div class="field">
                            <textarea style="background-color: #ffffffc1;" readonly>{{ ans.answer }}</textarea>
                        </div>
                    </div>
                    得分：{{ ans.score }} / {{ ans.problem.score }}
                </div>
                <div class="ui divider"></div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="ui eleven wide column segment">
            <div class="ui top attached label">AI分析</div>
            <div class="padded text container">
                <div id="skeleton" style="display: '';">
                    <div class="ui placeholder">
                        <div class="long line"></div>
                        <div class="short line"></div>
                        <div class="long line"></div>
                        <div class="short line"></div>
                        <div class="short line"></div>
                        <div class="long line"></div>
                        <div class="short line"></div>
                    </div>
                </div>
                <div class="ui form" id="analysis-ui" style="display: none;">
                    <div class="field">
                        <textarea id="analysis" readonly></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/paper/submission.js' %}"></script>
{% endblock %}